<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/login">
    <h1>Přihlášení</h1>
    <input name="name" type="text" placeholder="Jméno">
    <input name="password" type="password" placeholder="Heslo">
    <button type="submit">Přihlásit se</button>
  </form>
</body>
</html>
